<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.codingjam.cleanweather.detail">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="Detail">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".DetailActivity" />
    </application>
</manifest>
